* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  background-color: aliceblue;
}

.spinner {
  width: 80px;
  height: 80px;
  border: dotted 10px #3498db;
  border-radius: 100%;
  /* animation: spin 3s linear infinite; */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.card {
  border: 1px solid black;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: coral;
}

/* Responsice Design */

@media only screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .box {
    background-color: lightgreen;
  }
}

/* ტელეფონი 768 პიქსელი და ქვემოთ*/
/* პადი 1024 პიქსელი */
/* ლეპტოპი და სხვა 1024 ზემოთ */
